<!doctype html>
<html>
	<head>
		<% include common/head.ejs %>
	</head>
	<body>
		<% include common/navigator.ejs %>

		<div class="container">
			<div class="section">
				<div class="row">
					<div class="col s12 m8 ">
						<div class="section scrollspy">
							<ul id="messages"></ul>
						</div>
					</div>
					<div class="col s12 m4">
						<div class="card">
							<div class="card-content">
								<span class="card-title">
									<div class="userInfo">현재 <span id="userCount"></span>명</div>
								</span>
								<ul id="users"></ul>
							</div>
							<div class="card-action">
								<a href="#" id="btnChangeNick">닉네임 변경</a>
							</div>
						</div>
					</div>
				</div>

				<form action="">
					<input id="m" autocomplete="off" /><button>Send</button>
				</form>
			</div>
		</div>
		<% include common/footer.ejs %>

        <script id="template_message" type="x-tmpl-mustache">
            <li>{{nick}} : {{message}}</li>
        </script>
		<script id="template_system_message" type="x-tmpl-mustache">
            <li class="blue-text text-darken-2">!{{response.MESSAGE}}</li>
        </script>
		<script id="template_users" type="x-tmpl-mustache">
			{{#users}}
            	<li>!{{nick}}</li>
            {{/users}}
        </script>

        <script src="/socket.io/socket.io.js"></script>
		<script src="/mustache/mustache.min.js"></script>
		<script src="/javascript/wating.min.js"></script>
	</body>
</html>