<!doctype html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
<div class="container">

    <div class="chatInfo">
        <div class="messageArea">
            <ul id="messages"></ul>
        </div>
        <div class="userInfoArea">
            <div class="userInfo">현재 <span id="userCount"></span>명</div>
            <ul id="users"></ul>
            <button class="wideButton" id="btnChangeNick">닉네임 변경</button>
        </div>
    </div>

    <form action="">
        <input id="m" autocomplete="off" /><button>Send</button>
    </form>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascript/wating.js"></script>
</div>
</body>
</html>