<!--footer-->
<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Contact</h5>
                <p class="grey-text text-lighten-4">성주용 (camon85@gmail.com)</p>
                <ul>
                    <li><a class="btn waves-effect waves-light red lighten-3" href="https://github.com/camon85">github</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
        </div>
    </div>
</footer>

<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="materialize/dist/js/materialize.min.js"></script>
<script src="/javascript/common.js"></script>