<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper container">
            <a id="logo-container" href="/" class="brand-logo"><%= title %> Logo</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/">HOME</a></li>
                <li><a href="/waiting">CHAT</a></li>
            </ul>

            <ul id="nav-mobile" class="side-nav">
                <li><a href="/">HOME</a></li>
                <li><a href="/waiting">CHAT</a></li>
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </nav>
</div>
